h2 Job App for #{name}:

p Position: #{position}
p Resume Link: 
	a(href="#{resume}") #{resume}

hr
p Name: #{name}
p Email: #{email}
p Phone: #{phone}
p Birthday: #{birthday}
p Address: #{street} #{city_state_zip}

hr

h3 What was the best meal you've ever had?:
p #{question1}

h3 What kind of experience do you have in the restaurant business?:
p #{question2}

h3 Why do you want to work at tulip? Include other info you want us to know as well.
p #{question3}

hr
p Date Received: #{date}