.center
	h3 - a breakfast and lunch café - 
	h4 small business in indianapolis since 2008

h3=special.date

blockquote=special.quote
	if(special.person) 
		small=special.person

blockquote
	for x in special.food
		.row-fluid
			.span2.title=x.type+":"
			.span10.info=x.desc

